.navbarContainer{
    background-color: var(--navbar-background);
    height: 100vh;
    width: 17%;
    font-size: 1.7rem;
    font-weight: 700;
}

.nameContainer{
    height: 9vh;
    background-color: var( --navbar-title-background);
    width: 100%;
}

.navbarTitle{
    color: white;
    padding-left: 1rem;
    padding-top: 1rem;
    width: 100%;
    
}

.Projection-Container-Nav{
    padding: 1rem;
    display: flex;
    justify-content: left; /* Horizontally center */
    align-items: center; 
}

.Documentation-Container-Nav{
    padding: 1rem;
    display: flex;
    justify-content: left; /* Horizontally center */
    align-items: center; 
}

.navLink{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    font-weight: 200;
}

.projection-icon{
    color: white;
    padding-right: 1rem;
}