.projections-page-title{
    font-weight: 700;
    font-size: 2rem;
    padding-left: 1rem;
    padding-top: 1rem;
}

.line {
    width: 100%; /* Makes the line span the full width */
    height: 2px; /* Line thickness */
    background-color: black; /* Line color */
    margin: 0.5rem auto; /* Centers the line horizontally */
}

.projections_content_area{
    width: 83VW;
}

.company_area {
    width: 80vw;
    height: 65vh;
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    align-content: flex-start; /* Ensures wrapped items align neatly */
    overflow-y: auto; /* Enables vertical scrolling only */
    overflow-x: hidden; /* Prevents horizontal scrolling */
    scrollbar-width: none; /* Hides scrollbar for Firefox */  
    margin-left: 2rem;
}

.company_area::-webkit-scrollbar {
    display: none; /* Hides scrollbar for Chrome, Safari, and Edge */
}

.company_box {
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 14vh;
    width: 16vw; /* Corrected 'VW' to 'vw' */
    margin-right: 1.5rem;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem; /* Rounds the corners slightly */
    background-color: var(--navbar-title-background); /* Optional: Makes the background stand out */
    
}

.company_header{
    font-weight: 700;
    font-size: 1.3rem;
    color: black;
    text-align: center; 
    text-decoration: underline;
}

.scoop_status {
    color: white;
    font-weight: 500;
    font-size: 1rem;
    margin: 0.5rem; /* Simplified margin for spacing */
    text-align: left; /* Optional: Aligns text horizontally */
}

.accuracy_status{
    color: white;
    font-weight: 500;
    font-size: 1rem;
    margin-left: 0.5rem; /* Simplified margin for spacing */
    text-align: left; /* Optional: Aligns text horizontally */
}

.status_box {
    margin-left: 1rem;
    flex-wrap: nowrap; /* Ensures the content stays on one line */
    flex-direction: row; /* Keeps items aligned horizontally */
    display: flex; /* Enables flexbox layout */
    align-items: center; /* Vertically aligns items */
    justify-content: space-between; /* Pushes the `dash` to the right */
}

.icon {
    margin-left: auto; /* Moves the dash to the right */
    text-align: right; /* Aligns the dash content to the right */
    margin-right: 4rem;
}

.dash_line {
    width: 20px; /* Makes the line span the full width */
    height: 5px; /* Line thickness */
    background-color: black; /* Line color */
    margin: 0.5rem; /* Centers the line horizontally */
}


.accuracy_amount{
    color: black;
    font-weight: 700;
}

.icon_up_arrow {
    margin-left: auto; /* Moves the dash to the right */
    text-align: right; /* Aligns the dash content to the right */
    margin-right: 4.5rem;
}

.up_arrow{
    
}

.down_arrow{

}